<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Routing en Angular</h1>
      <h4>Ejercicio para entender el uso de las rutas en Angular</h4>
      <ul>
        <li>
          <a [routerLink]="['/']">Home - Componente0</a>
        </li>
        <li>
          <a [routerLink]="['/componente1']">Mostrar - Componente1</a>
        </li>
        <li>
          <a [routerLink]="['/componente2']">Mostrar - Componente2</a>
        </li>
        <li>
          <a [routerLink]="['/componente1', 700]">Pasar un parametro</a>
        </li>
        <li>
          <a [routerLink]="['/componente2', 900, 'Angular Routes']">Pasar dos parametros</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <router-outlet>
        <!-- Aquí se van a insertar los componentes seleccionados -->
      </router-outlet>
    </div>
  </div>
</div>